.anim-item {
  opacity: 0;
  transform: translateY(30px);
}

.viewmore{
    display:flex;
    align-items:center;
    font-size:18px;
    img{
      width: 20px;
    }
}

.one-section-title h2{
  font-size: 40px;
}

.footer-sub {
    background-image: url('https://leaflife-html.vercel.app/assets/img/cta_bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #374836;
        opacity: .10;
    }

    .counter-item {
        position: relative;
        H4{
          font-weight: 600;
            font-size: 40px;
            color:#f9fbf3;
        }
        p {
            margin-bottom: 0;
            font-size: 18px;
            color: #f9fbf3;
            padding-left: 110px;
            padding-top: 20px;
        }
    }
}

 @media (max-width: 768px) {
     .one-section-title h2{
      font-size:30px;
     }
     .four-expect-area .expect-item{
      padding: 20px 30px;
      margin-bottom: 15px;
     }
     .counter-item h4{
      font-size:30px;
     }
     .footer-sub .counter-item H4{
      font-size:30px;
     }
    }
