.one-section-title h2 {
    font-size: 32px;
}

.page-title-area {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 270px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.one-among-area .among-item .among-bottom p{
    margin-bottom:0;
}



.breadcrumb-list ul li {
    display: inline-block;
    color: white;
    font-size: 19px;
    position: relative;
    padding: 0 20px;
}

.breadcrumb-list ul li:nth-child(2)::before {
    content: "";
    background: white;
    position: absolute;
    left: 0;
    top: 6px;
    width: 2px;
    height: 20px;
    z-index: 1;
}

.breadcrumb-list ul li:nth-child(2)::after {
    content: "";
    background: white;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 2px;
    height: 20px;
    z-index: 1;
}

// .page-title-area::before {
//     content: "";
//     background-color: #051401;
//     opacity: 0.651;
//     position: absolute;
//     left: 0;
//     top: 81px;
//     width: 100%;
//     min-height: 200px;
// }

.page-title {
    padding-top:58px;
    h2 {
        color: #fff;
        position: relative;
        font-size: 40px;
        font-family: 'darling'
    }
}

a {
    color: #fff;
}

.one-among-area {
    padding-top: 50px;
}

.one-among-area .among-item .among-top img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.one-among-area .among-item .among-top .among-icon {
    bottom: -33px;
}

.one-among-area .among-item .among-top .among-icon img {
    width: 40px;
    height: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s all ease;
    margin-top: 13px;
    margin-left: 15px;
}

.two-among-area .among-item .among-bottom {
    border: 1px solid #dddddd82;
}

.two-among-area .among-item .among-bottom{
    padding: 45px 3px 15px;
}

@media (max-width: 767px) {
    .breadcrumb-list ul li {
        font-size: 20px;
    }
    .page-title-area::before {
        top: 60px !important;
    }
    .one-among-area{
        padding-top:50px;
    }
    .one-section-title h2{
        font-size:28px;
    }

    .one-among-area .among-item .among-top .among-icon img{
        margin-top:10px;
        margin-left:10px;
    }
}

.one-section-title{
    margin-bottom:30px;
}

@media only screen and (max-width: 1200px) {
}