.page-title-area {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 250px;
}

@media (max-width: 767px){
.breadcrumb-list ul li {
    font-size: 20px;
}
}
.breadcrumb-list ul li {
    display: inline-block;
    color: white;
    font-size: 19px;
    position: relative;
    padding: 0 20px;
}

.breadcrumb-list ul li:nth-child(2)::before {
    content: "";
    background: white;
    position: absolute;
    left: 0;
    top: 6px;
    width: 2px;
    height: 20px;
    z-index: 1;
}

.breadcrumb-list ul li:nth-child(2)::after {
    content: "";
    background: white;
    position: absolute;
    left: 6px;
    top: 6px;
    width: 2px;
    height: 20px;
    z-index: 1;
}

.page-title-area::before {
    content: "";
    background-color: #051401;
    opacity: 0.651;
    position: absolute;
    left: 0;
    top: 81px;
    width: 100%;
    min-height: 250px;
}
.page-title {
    padding-top:80px;
    h2{
    color: #fff;
    position:relative;
    font-size:40px;
    font-family:'darling'
}
}

a{
    color: #fff;
}